{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> 

    <!-- css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/global.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/style.css'%}">

    <link rel="icon" href="{% static 'img/key.ico' %}">

    <title>Password Keeper | Home</title>
  </head>
  <body>
    <nav>
        <div id="nav-left">
            <img src="{% static 'img/key.gif' %}" alt="spinning key"/>
            <h1>Logged in as: {{user}}</h1>
        </div>
        
        <div id="nav-right">
            <button id="add-btn" type="button" class="nes-btn is-success">+ Add</button>
            <button type="button" class="nes-btn is-normal">Export</button>
            <a href="{% url 'settings:settings' %}" type="button" class="nes-btn is-normal">Settings</a>
        </div>
    </nav>

    {% if messages %}
        <div class="error-message popup nes-container is-rounded">
            <i  class="nes-icon close popup-close"></i>
            {% for message in messages %}
                {{message}} <br/>
            {% endfor %}
        </div>
    {% endif %}


    {% if form.non_field_errors %}
        <div id="form-errors" class="nes-container is-rounded popup">
            {{form.non_field_errors}}
            <i  class="nes-icon close popup-close"></i>
        </div>
    {% endif %}

    <main id="home-main">
        {% if user.account_set.all %}
            <table class="table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Title</th>
                        <th>Login</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for account in user.account_set.all %}
                        <tr class="account">
                            <td>{{forloop.counter}}</td>
                            <td class="acc-title">{{account.title}}</td>
                            <td class="acc-login">{% if account.login%} {{account.login}} {% else %} - {% endif %}</td>
                            <td class="acc-email">{% if account.email %} {{account.email}} {% else %} - {% endif %}</td>
                            <td class="acc-password">{{account.password}}</td>
                            <td><img class="gear" src="{% static 'home/img/white-gear.png'%}" alt="gear"></td>
                        </tr>
                        <tr class="account-settings hidden">
                            <td colspan="6">
                                <button type="button" class="nes-btn is-warning show-btn" url-to-pass="{% url 'home:get_account_password' account.id %}">Show</button>
                                <button type="button" class="nes-btn is-normal edit-btn" url-to-pass="{% url 'home:edit_account' account.id %}">Edit</button>
                                <button type="button" class="nes-btn is-error delete-btn" url-to-pass="{% url 'home:delete_account' account.id %}">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="nes-container is-rounded is-dark">No accounts yet.</p>
        {% endif %}
    </main>

    <footer>
        Password Keeper 2021 - All rights reserved
    </footer>

    <div id="dark-panel" class=""></div>

    <div id="account-form-panel" class="nes-container is-rounded">
        <form id="account-form" method="POST">
            {% csrf_token %}
            <i id="register-close" class="nes-icon close is-small"></i>
            <div class="nes-field">
                <label for="title">Title</label>
                {{form.title}}
                <!-- <input type="text" id="title" class="nes-input"><br/> -->
            </div>
            <div class="nes-field">
                <label for="login">Login</label>
                {{form.login}}
            </div>
            <div class="nes-field">
                <label for="email">Email</label>
                {{form.email}}
            </div>
            <div class="nes-field">
                <label for="password">Password</label>
                {{form.password}}
            </div>
            <div class="nes-field">
                <label for="confirm">Confirm password</label>
                {{form.confirm}}
            </div>
            <div class="nes-field">
                <label for="pin">Your PIN:</label>
                {{form.pin}}
            </div>
            <input type="submit" class="nes-btn is-primary" id="ok-btn" value="OK"/>
        </form>
    </div>

    <div id="pin-form-panel" class="nes-container is-rounded">
        <!-- <form id="pin-form" method="POST"> -->
            <i id="pin-form-close" class="nes-icon close is-small"></i>
            <div class="nes-field">
                <label for="pin">PIN</label>
                <input type="password" class="pin nes-input" id="show-pin-input"><br/>
                <button type="button" id="ok-pin-btn" class="nes-btn is-primary">OK</button>
            </div>
        <!-- </form> -->
    </div>

    <div id="confirm-del-form-panel" class="nes-container is-rounded">
        <p>Are you sure you want to delete this account?</p>
        <form id="conf-del-form" method="POST">
            {% csrf_token %}
            <button class="nes-btn is-primary" type="submit">Yes</button>
        </form>
        <button id="confirm-del-no-btn" class="nes-btn is-primary">No</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'home/js/home.js'%}"></script>
    <script src="{% static 'home/js/showButtons.js'%}"></script>
    <script src="{% static 'js/global.js'%}"></script>
  </body>
</html>