body {
  overflow-x: hidden;
}

nav {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

nav div#nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav div#nav-left img {
  width: 3rem;
}

nav div#nav-left h1 {
  margin: 0 2vw 0 2vw;
  font-size: 1rem;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

nav button {
  width: 12vw;
  font-size: .7rem;
  margin: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

nav button:hover {
  -webkit-animation: button-hop 0.4s ease-out;
          animation: button-hop 0.4s ease-out;
}

#home-main {
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: "Press Start 2P", sans-serif;
}

#home-main table {
  margin: auto;
  font-size: 0.75rem;
  border: 3px solid white;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  margin-bottom: 10rem;
}

#home-main table td {
  vertical-align: 0;
  overflow-x: hidden;
  max-width: 8rem;
  overflow-y: hidden;
}

#home-main table .gear {
  width: 3rem;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#home-main table .gear:hover {
  cursor: pointer;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

#home-main table tr.account td {
  border-top: none;
  border-bottom: none;
}

#home-main table tr.account-settings button {
  width: 10rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  margin: 0rem;
}

#home-main table tr.account-settings button:hover {
  -webkit-animation: button-hop 0.4s ease-out;
          animation: button-hop 0.4s ease-out;
}

#dark-panel {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  pointer-events: none;
}

#dark-panel.active {
  pointer-events: all;
  opacity: 1;
}

#account-form-panel {
  position: fixed;
  top: 0;
  background: white;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-110%);
          transform: translateX(-50%) translateY(-110%);
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 40rem;
  font-size: 1rem;
}

#account-form-panel i {
  margin: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#account-form-panel i:hover {
  -webkit-animation: spin 0.75s linear infinite;
          animation: spin 0.75s linear infinite;
}

#account-form-panel div.nes-field {
  margin: 1rem;
}

#account-form-panel div.nes-field label {
  text-align: left;
}

#account-form-panel #ok-btn {
  margin: 1rem;
  width: 10rem;
}

#account-form-panel #ok-btn:hover {
  -webkit-animation: button-hop 0.4s ease-out;
          animation: button-hop 0.4s ease-out;
}

#account-form-panel.active {
  -webkit-transform: translateX(-50%) translateY(5%);
          transform: translateX(-50%) translateY(5%);
}

#pin-form, #confirm-del-form-panel {
  left: 50%;
  font-size: 1rem;
  -webkit-transform: translateX(-50%) translateY(-110%);
          transform: translateX(-50%) translateY(-110%);
  position: fixed;
  background: white;
  width: 40rem;
  text-align: center;
  -webkit-transform-origin: center;
          transform-origin: center;
  top: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#pin-form.active, #confirm-del-form-panel.active {
  -webkit-transform: translateX(-50%) translateY(50%);
          transform: translateX(-50%) translateY(50%);
}

#pin-form .pin, #confirm-del-form-panel .pin {
  width: 80%;
  margin: auto;
}

#pin-form #conf-del-form, #confirm-del-form-panel #conf-del-form {
  display: inline;
}

#pin-form button, #confirm-del-form-panel button {
  width: 25%;
}

#pin-form button:hover, #confirm-del-form-panel button:hover {
  -webkit-animation: button-hop 0.4s ease-out;
          animation: button-hop 0.4s ease-out;
}

#pin-form i, #confirm-del-form-panel i {
  margin: .5rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#pin-form i:hover, #confirm-del-form-panel i:hover {
  -webkit-animation: spin 0.75s linear infinite;
          animation: spin 0.75s linear infinite;
}

@-webkit-keyframes button-hop {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes button-hop {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@media screen and (max-width: 1024px) {
  nav div#nav-left h1 {
    -webkit-text-stroke-width: 0px;
  }
}

@media screen and (max-width: 880px) {
  nav {
    margin-bottom: 1.5rem;
  }
  nav button {
    padding: 0 !important;
  }
  #home-main table td {
    font-size: 0.6rem;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  nav button {
    font-size: .7rem;
  }
}

@media screen and (max-width: 400px) {
  nav button {
    width: 12rem;
  }
}
/*# sourceMappingURL=style.css.map */