{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> 

    <!-- css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/global.css'%}">
    <link rel="stylesheet" href="{% static 'accountsettings/css/style.css'%}">

    <link rel="icon" href="{% static 'img/key.ico' %}">

    <title>Password Keeper | Settings</title>
  </head>
  <body>
    <nav>
        <div id="nav-left">
            <img src="{% static 'img/key.gif' %}" alt="spinning key"/>
            <h1>Settings</h1>
        </div>
        
        <div id="nav-right">
            <a id="back-btn" href="{% url 'home:home_page' %}" type="button" class="nes-btn is-normal"><< Back </a>
        </div>
    </nav>

    <main id="settings-main">
        <button id="change-password-btn" class="nes-btn is-normal">Change password</button>
        <button id="change-pin-btn" class="nes-btn is-normal">Change PIN</button>
        <a href="{% url 'settings:log_out' %}" type="button" class="nes-btn is-error">Log out </a>
    </main>
    
    {% if messages %}
        {% for message in messages %}
            {% if forloop.first %}
                <div class="{{message.tags}}-message popup nes-container is-rounded">
                <i class="nes-icon close popup-close"></i>
            {% endif %}
            {{message}} <br/>
            {% endfor %}
        </div>
    {% endif %}

    <footer>
        Password Keeper 2021 - All rights reserved
    </footer>

    <div id="dark-panel" class=""></div>

    <div id="change-password-form-panel" class="nes-container is-rounded">
        <i id="change-password-form-close" class="nes-icon close is-small"></i>
        <form action="{% url 'settings:change_password' %}" id="change-password-form" method="POST">
            {% csrf_token %}
            <div class="nes-field">
                <label for="id_old_password">Old password:</label>
                {{password_form.old_password}}
                
                <label for="id_new_password">New password:</label>
                {{password_form.new_password}}
                
                <label for="id_confirm_password">Confirm password:</label>
                {{password_form.confirm_password}}
                
                <label for="id_pin">Confirm change with PIN:</label>
                {{password_form.pin}}
    
                <input type="submit" id="change-password-ok-btn" class="nes-btn is-primary" value="OK"/>
            </div>
        </form>
    </div>

    <div id="change-pin-form-panel" class="nes-container is-rounded">
        <i id="change-pin-form-close" class="nes-icon close is-small"></i>
        <form action="{% url 'settings:change_pin' %}" id="change-pin-form" method="POST">
            {% csrf_token %}
            <div class="nes-field">
                <label for="id_old_pin">Old PIN:</label>
                {{pin_form.old_pin}}
                
                <label for="id_new_pin">New PIN:</label>
                {{pin_form.new_pin}}
                
                <label for="id_password">Confirm change with password:</label>
                {{pin_form.password}}
    
                <input type="submit" id="change-pin-ok-btn" class="nes-btn is-primary" value="OK"/>
            </div>
        </form>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'js/global.js'%}"></script>
    <script src="{% static 'accountsettings/js/settings.js' %}"></script>
  </body>
</html>