* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  background: url("../img/brick.png");
  background-size: 5%;
  background-color: black;
}

input {
  margin: auto;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  text-align: center;
}

input:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  color: white;
  width: 100%;
  font-size: .7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  margin: 1rem;
}

.popup {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50rem;
  font-size: 1rem;
  -webkit-animation: error-bounce 0.4s ease-out;
          animation: error-bounce 0.4s ease-out;
}

.popup .popup-close {
  margin: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.popup .popup-close:hover {
  -webkit-animation: spin 0.75s linear infinite;
          animation: spin 0.75s linear infinite;
}

.errorlist {
  list-style: '* ';
}

#form-errors, .error-message {
  background-color: red;
  color: white;
}

.success-message {
  background-color: lime;
  color: white;
}

.hidden {
  display: none;
}

/*anims*/
@-webkit-keyframes swoosh {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  50% {
    -webkit-transform: translateX(-50%) translateY(20%);
            transform: translateX(-50%) translateY(20%);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-200%);
            transform: translateX(-50%) translateY(-200%);
  }
}
@keyframes swoosh {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  50% {
    -webkit-transform: translateX(-50%) translateY(20%);
            transform: translateX(-50%) translateY(20%);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-200%);
            transform: translateX(-50%) translateY(-200%);
  }
}

@-webkit-keyframes error-bounce {
  0% {
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
  25% {
    -webkit-transform: translateY(-25px) translateX(-50%);
            transform: translateY(-25px) translateX(-50%);
  }
  50% {
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
  75% {
    -webkit-transform: translateY(-10px) translateX(-50%);
            transform: translateY(-10px) translateX(-50%);
  }
  100% {
    -webkit-transform: translateY(0px) translateX(-50%);
            transform: translateY(0px) translateX(-50%);
  }
}

@keyframes error-bounce {
  0% {
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
  25% {
    -webkit-transform: translateY(-25px) translateX(-50%);
            transform: translateY(-25px) translateX(-50%);
  }
  50% {
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
  75% {
    -webkit-transform: translateY(-10px) translateX(-50%);
            transform: translateY(-10px) translateX(-50%);
  }
  100% {
    -webkit-transform: translateY(0px) translateX(-50%);
            transform: translateY(0px) translateX(-50%);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

/****************/
@media screen and (max-width: 1600px) {
  html {
    font-size: 82.5%;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 72.5%;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 65.5%;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 55.5%;
  }
}

@media screen and (max-width: 550px) {
  html {
    font-size: 45.5%;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 35.5%;
  }
}
/*# sourceMappingURL=global.css.map */