* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", cursive;
}

html {
  min-height: 100%;
  position: relative;
}

body {
    background: url("../img/brick.png"); //rgb(248, 248, 160);
    background-size: 5%;
    background-color: black;
}

input {
    margin: auto;
    transition: all 0.25s ease;
    text-align: center;

    &:focus {
        transform: scale(1.1);
    }

}

footer {
    color: white;
    width: 100%;
    font-size: .7rem;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin: 1rem;
}

@media screen and (max-width: 1600px) {
    html {
      font-size: 82.5%;
    }
  }
  
  
  @media screen and (max-width: 1200px) {
    html {
      font-size: 72.5%;
    }
  }
  
  @media screen and (max-width: 1024px) {
    html {
      font-size: 65.5%;
    }
  }
  
  @media screen and (max-width: 700px) {
    html {
      font-size: 55.5%;
    }
  }
  
  @media screen and (max-width: 550px) {
    html {
      font-size: 45.5%;
    }
  }
  
  @media screen and (max-width: 320px) {
    html {
      font-size: 35.5%;
    }
  }